<h3>Pool</h3>
@for (member of members; track member) {
  <button (click)="won(member)" [class.editMode]="isEditing">{{member}}</button>
}
<button class="reset" (click)="reset()">Reset</button>

<button class="changeMates" (click)="editMateList()">{{isEditing ? 'Close' : 'Change'}}</button>

@if (isEditing) {
  <div class="changeForm">
    <input type="text" [(ngModel)]="newMateName" placeholder="Namen mit Komma trennen"/>
    <button (click)="addMate()">Save</button>
    <em>Alle Namen sind jetzt im Bearbeitungsmodus.</em>
  </div>
}