<h1>
  Adventsrad 2022 für Application Services DACH Advisory
</h1>
<div>
  <button class="init" (mousedown)="setPower()" (mouseup)="startAnimation()">Los!</button>
</div>

<div id="power"></div>

<div class="container">
  <div class="imageContainer">
    <canvas #canvas id="base" width="802" height="802"></canvas>
    <canvas #canvas2 id="dyn" width="800" height="800" [style.transition-duration]="rotationDuration" [style.transform]="rotationStyle"></canvas>
  </div>
  <div style="flex: 1"></div>
  <div>
    <app-mates (onMatelistChanged)="matesChangedHandler()"></app-mates>
  </div>
</div>