html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    overflow: hidden;
}

body {
    background: url("assets/bg.jpg");
}

button {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #666;
}